.filter-section>button,
.show-for-medium,
.show-for-small,
.show-image-small,
.show-text-m,
.show-text-s,
.shown-one,
.text-show-large,
.text-show-medium,
.text-show-small {
    display: none;
}
@media only screen and (min-width: 0) and (max-width: 599px){
    .border-bottom-small {
        border-bottom: 1px solid #736668;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1019px){
    .border-bottom-medium {
        border-bottom: 1px solid #736668;
    }
    
    .border-right-medium {
        border-right: 1px solid #736668;
    }
    
    .border-top-medium {
        border-top: 1px solid #736668;
    }
}

@media (min-width: 768px){
    .container{
        &.medium {
            width: 750px;
        }
    }
    
}

@media only screen and (min-width: 992px){
    
}


@media only screen and (min-width: 1020px){
    .border-right-large{
        border-right: 1px solid #736668;
    }
    
    .border-top-large {
        border-top: 1px solid #736668;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .md-hide-border-bottom {
        border-bottom: none!important;
    }
    .md-hide-border-top {
        border-top: none!important;
    }
    .md-hide-border-left {
        border-left: none!important;
    }
    .md-hide-border-right {
        border-right: none!important;
    }
}

@media only screen and (min-width:1024px) and (max-width:1589px) {
    .text-show-medium {
        display: block;
    }
}

@media (min-width: 1024px){
    .container{
        &.medium {
            width: 1000px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1300px){
    .left-menu{
        > div{
            ul {
                li{
                    a, .has-children p{
                        font-size: 14px;
                        
                        .badge{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .col-lg-10 {
        width: 83.33333333%;
    }
    
    #not-found{
        .nf-container{
            .nf-title{
                font-size: 40px;
            }
            
            .nf-text{
                font-size: 25px;
            }
            
            .nf-advice{
                font-size: 20px;
            }
        }
    }
    
    .move-left {
        position: relative;
        left: 0;
    }
    
    .move-right {
        position: relative;
        right: -25px;
    }
    
    .lg-hide-border-right {
        border-right: none!important;
    }
    
    .lg-hide-border-left {
        border-left: none!important;
    }
    
    .lg-hide-border-top {
        border-top: none!important;
    }
    
    .lg-hide-border-bottom {
        border-bottom: none!important;
    }
    
    .progress-table{
        font-size: larger;
    }
}

@media (min-width: 1310px){
    .container{
        &.medium{
            width: 1281px;
        }
    }
}

@media only screen and (min-width:1589px) {
    .what-we-offer{
        margin-top: 750px;
    }
    
}

@media only screen and (max-width: 1680px){
    .home-portfolio{
        .holder{
            &.txt{
                h5 {
                    font-size: 20px;
                }
                
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .what-we-offer{
        margin-top: 750px;
    }
    
}

@media only screen and (max-width: 1640px){
    .hide-for-medium {
        display: none;
    }
    
    .show-for-medium {
        display: block;
    }
}

@media only screen and (max-width: 1630px){
    #blog-posts{
        .post-holder{
            &.post-holder-small{
                > div{
                    .post-content{
                        h1 {
                            line-height: 1.2;
                            font-size: 16px;
                        }
                        
                        >span{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    .hidden-one {
        display: none;
    }
}

@media only screen and (max-width: 1445px){
    .home-portfolio{
        .holder{
            &.txt{
                h5 {
                    padding-bottom: 0;
                    background-image: none;
                }
            }
        }
    }
    
    .hide-text-m {
        display: none;
    }
    
    .show-text-m {
        display: block;
    }
    
    .what-we-offer{
        margin-top: 750px;
    }
    
}

@media only screen and (max-width: 1352px){
    .logo-container, header .navigations {
        text-align: center;
    }
    
    .our-service{
        div{
            h1{
                font-size: 30px;
            }
        }
    }
    
    footer{
        ul{
            &.footer-menu{
                li{
                    a {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    
    .instagram-holder{
        .insta-container{
            > div {
                .insta-hover{
                    div {
                        width: 95%;
                    }
                }
            }
        }
    }
    
    .socials-holder{ 
        .socials-container {
            ul{
                li{
                    a {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    
    .middle-holder, .quote-holder {
        min-height: 182px;
    }
    
    .middle-holder{
        
        > div {
            padding-top: 34px;
            min-height: 0;
            
            h1 {
                font-size: 38px;
                line-height: 1.3;
                text-align: center;
            }
        }
    }
    
    #quote{
        .quote-wrapper{
            > div{
                h1{
                    font-size: 38px;
                    line-height: 1.3;
                    text-align: center;
                }
            }
        }
    }
    
    #about{
        .quote-holder{
            > div {
                padding: 33px 20px;
            }
            
            h2 {
                font-size: 18px;
            }
        }
    }
    
    .quote-holder{
        >div {
            padding-bottom: 17px;
            
            > a {
                font-size: 15px;
                
                &:last-child {
                    font-size: 15px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1300px){
    .home-portfolio{
        .holder{
            &.portfolio{
                h4 {
                    padding-bottom: 0;
                    background-image: none;
                }
                
                p {
                    display: none;
                }
                
                ul{
                    li{
                        a{
                            width: 36px;
                            height: 36px;
                            line-height: 34px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1200px){  
    header{
        .navigations {
            ul{
                &.header-menu-ul{
                    li{
                        a{
                            padding-top: 15px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .our-service{
        div{
            p{
                font-size: 14px;
            }
        }
    }
    
    .what-we-offer{
        margin-top: 750px;
    }
    
    .show-image-small {
        display: block;
    }
    
    .left-menu, .page-container{
        margin-top: 130px;
    }
    
}

@media only screen and (max-width: 1200px){
    .hide-image-small{
        display: none;
    }
    
    .hide-text-m{
        display: none;
    }
    
    .show-text-m{
        &.hide-text-s{
            display: none;
        }
    }
    
    .show-text-s {
        display: block;
    }
    
    #blog-posts {
        .featured-post-section, .latest-posts-section {
            width: 100%;
        }
        
        .latest-posts-section{
            .post-holder-small{
                border-left: none;
                border-top: 1px solid #736668;
                
                &:not(:nth-last-child(-n+2)) {
                    border-bottom: none;
                }
            }
        }
        
        .post-holder{
            &.post-holder-small{
                > div{
                    .post-content{
                        h1{                          
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    
    .sticky-wrapper{
        .quote-holder{
            h2 {
                font-size: 22px;
            }
        }
    }
    
    footer{
        ul{
            &.footer-menu{
                li{
                    a {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    
    .middle-holder, .quote-holder {
        min-height: 0px;
    }
    
    #filter-menu {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1160px){
    #single-portfolio{
        .layout-one{
            .small-square{
                width: 100%;
            }
        }
        .layout-two{
            .left-side{
                width: 100%;
            }
            .right-side{
                width: 100%;
            }           
        }       
    }
    
    .quote-holder{
        > div{
            >a {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1025px){
    .home-portfolio {
        .text-holder-elem{
            &.elem {
                width: 100%;
            }
        }
        
        .holder{
            &.txt {
                min-height: 150px;
                
                > img {
                    display: none;
                    opacity: 0;
                }
                
                > div{
                    width: 100%;
                }
            }
        }
        
        .half-elem.elem {
            width: 50%;
        }
    }
    
    .quote-holder{
        > div{
            > a{
                &:last-child {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }
    
    #filters {
        float: left;
        width: 100%;
    }
}

@media only screen and (max-width: 992px){
    header {
        &.sticky{
            .navigations{
                ul{
                    &.header-menu-ul{
                        li{
                            a{
                                padding: 15px 7px;
                            }
                        }
                    }
                }
            } 
        }
        
        .navigations{
            ul{
                &.socials {
                    display: none;
                }
                
                &.header-menu-ul{
                    li{
                        a{
                            padding: 15px 7px;
                        }
                    }
                }
            }
        }
    }
    
    .navbar {
        text-align: center;
        padding: 15px;
        
        a {
            line-height: 51px;
            display: inline-block;
            margin-left: 44px;
            padding-left: 15px;
        }
    }
    
    .navbar-toggle {
        float: left;
        margin-right: 0;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .video-wrap{
        .big-video-wrapper{
            display: none;
        }
        .intro-text{
            top: 55%;
            width: 90%;
            
            h1{
                font-size: 45px;
                
                &:before{
                    display: none;
                }
            }
        }
    }
    
    #not-found{
        .nf-container{
            .nf-title{
                font-size: 30px;
            }
            
            .nf-text{
                font-size: 17px;
            }
            
            .nf-advice{
                font-size: 17px;
            }
        }
    }
    
    .home-portfolio{
        .border-right-medium:last-child {
            border-right: none!important;
        }
    }
    
    footer{
        ul{
            &.footer-menu{
                li{
                    a {
                        margin: 0 6px;
                    }
                }
            }
            
            &.footer-socials{
                li {
                    margin: 10px;
                }
            }
        }
    }
    
    .middle-holder{
        >div {
            min-height: 0;
            padding: 0;
            padding-top: 15px;
            padding-bottom: 10px;
        }
    }
    
}
@media only screen and (max-width: 990px){
    .middle-holder, .quote-holder {
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 900px){
    .video-wrap{
        .intro-text{
            
            h1{
                font-size: 55px;
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
    
    #blog-posts{
        .post-holder{
            >div {
                .post-content{
                    h1 {
                        background-image: none;
                        font-size: 18px;
                    }
                    
                    p {
                        display: none;
                    }
                    
                    > a {
                        padding: 10px 40px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .top-fix {
        min-height: 120px;
    }
    
    .top-fix {
        min-height: 120px;
    }
    
    .left-menu, .page-container{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 700px){
    .nav {
        li{          
            a {
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }
    
    .navbar-offcanvas, .navmenu {
        width: 200px;
    }
    
    #not-found{
        .nf-container{
            .nf-title{
                font-size: 25px;
            }
            
            .nf-text{
                font-size: 12px;
            }
            
            .nf-advice{
                font-size: 12px;
            }
        }
    }
    
    .what-we-offer{
        margin-top: 500px;
    }
    
    .video-wrap{
        .big-video-border{
            display: none;    
        }
        
        .intro-text{
            top: 65%;
            
            h1{
                font-size: 35px;
            }
        }
    }
    
    #portfolio {
        margin-bottom: 0;
        
        .section-intro {
            top: 0;
            margin: 25px 0;
        }
    }
    
    .our-service{
        top: 0;
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
        
        &:first-child {
            margin-top: 15px;
        }
    }
    
    .section-intro{
        h4{
            font-size: 35px;
        }
    }
    
    footer{
        .footer-logo {
            margin-bottom: 20px;
        }
        
        ul{
            &.footer-socials{
                li{
                    a {
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
    
    .header-page {
        min-height: 300px;
        
        .header-border{
            display: none;
        }
    }
    
    .portfolio-container{
        .element{
            &.portfolio-element{
                .element-content{
                    .hover-content{
                        >div{
                            p{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .posts-wrapper{
        .post-holder{
            &.featured{
                .post-content{
                    p{
                        display: none;
                    }
                }
            }
        }
    }
    
    .video-wrapper{
        .big-border {
            display: none;
        }
    }
    
    #about {
        top: -55px;
    }
    
    .row {
        .top-about-section {
            .col-xs-12 {
                margin-bottom: 10px;
            }
        }
    }
    
    #quote {
        .quote-wrapper{
            > div{
                h1 {
                    font-size: 18px;
                }
            }
        }
    }
    
    .middle-holder{
        > div{
            h1 {
                font-size: 18px;
            }
        }
    }
    
    .bottom-about-section{      
        .about-content{
            > div {
                padding: 20px;
                
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    
    #filter-menu{
        .filter-section {
            width: auto;
            float: none;
        }
        
        form{
            .input-group {
                display: none;
            }
        }
    }
    
    .filter-section{
        > button {
            padding: 10px;
            display: block;
            width: 100%;
            text-transform: uppercase;
            font-family: latin_modern_roman10_italic;
            font-size: 24px;
            text-align: center;
            background-color: transparent;
            border: 1px solid #d9d9d9;
            letter-spacing: 1px;
            outline: 0;
        }
    }
    
    #filters {
        display: none;
        
        button {
            width: 100%;
            padding: 10px;
            border: none;
        }
    }
    
    #about {
        top: -55px;
    }
    
    .row {
        .top-about-section {
            .col-xs-12 {
                margin-bottom: 10px;
            }
        }
    }
    
    #quote {
        .quote-wrapper{
            > div{
                h1 {
                    font-size: 18px;
                }
            }
        }
    }
    
    .middle-holder{
        > div{
            h1 {
                font-size: 18px;
            }
        }
    }
    
    .bottom-about-section{      
        .about-content{
            > div {
                padding: 20px;
                
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    
    #filter-menu{
        .filter-section {
            width: auto;
            float: none;
        }
        
        form{
            .input-group {
                display: none;
            }
        }
    }
    
    .filter-section{
        > button {
            padding: 10px;
            display: block;
            width: 100%;
            text-transform: uppercase;
            font-family: latin_modern_roman10_italic;
            font-size: 24px;
            text-align: center;
            background-color: transparent;
            border: 1px solid #d9d9d9;
            letter-spacing: 1px;
            outline: 0;
        }
    }
    
    #filters {
        display: none;
        
        button {
            width: 100%;
            padding: 10px;
            border: none;
        }
    }
}

@media only screen and (max-width: 600px){
    .navbar {
        padding: 10px;
    }
    
    .navbar-toggle {
        top: 10px;
    }
    
    li{
        &.menu-item-has-children{
            ul {
                li {
                    a {
                        font-size: 16px;
                        padding: 10px !important;
                    }
                }
            }
        }
    }
    
    .nav{
        li{
            a {
                font-size: 16px;
                padding: 10px;
            }
        }
    }
    
    .header-page .intro-text{
        width: 100%;
        
        h1{
            font-size: 32px;
        }
    }
    
    .video-wrap .intro-text{
        width: 100%;
        
        h1{
            font-size: 32px;
        }
    }
    
    #portfolio{
        padding: 0 10px;
    }
    
    .home-portfolio{
        .half-elem.elem{
            width: 100%!important;
        }
        
        .third-elem.elem {
            width: 100%!important;
        }
        
        .holder{
            &.portfolio{
                .hover-sec{
                    background-color: transparent;
                    opacity: 1;
                    
                    > div {
                        display: none;
                    }
                }
                
                ul{
                    li{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
            
            &.txt{
                min-height: 200px;
            }
        }
    }
    
    #blog-posts{ 
        margin-top: 0;
        
        .posts-wrapper {
            margin-top: 30px;
        }
    }
    
    .classy-footer{
        > a{
            i {
                position: relative;
                top: 1px;
                left: -1px;
            }
        }
    }
    
    #about {
        padding: 0 20px;
    }
    
    .quote-holder{
        h2 {
            font-size: 18px;
        }
    }
    
    #filter-menu {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px){
    #blog-posts{
        .post-holder{
            >div{
                .post-content {
                    h1 {
                        padding-bottom: 0;
                    }
                    
                    > a {
                        display: none;
                    }
                }
            }
        }
        
        .latest-posts-section{
            .post-holder-small {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 380px){
    .video-wrap{
        .intro-text{           
            p{
                font-size: 14px;
            }
        }
    }
    
    .section-intro h4, .video-wrap .intro-text h1 {
        font-size: 25px;
    }
    
    .post-holder{
        &.post-holder-small{
            >div{
                .post-content{
                    h1 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
