@media only screen and (max-width: 1352px){
    .logo-container, header .navigations {
        text-align: center;
    }
}


@media (max-width: 1200px){  
    header{
        .navigations {
            ul{
                &.header-menu-ul{
                    li{
                        a{
                            padding-top: 15px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .col-lg-10 {
        width: 83.33333333%;
    }
    
    #not-found{
        .nf-container{
            .nf-title{
                font-size: 40px;
            }
            
            .nf-text{
                font-size: 25px;
            }
            
            .nf-advice{
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 992px){
    header {
        &.sticky{
            .navigations{
                ul{
                    &.header-menu-ul{
                        li{
                            a{
                                padding: 15px 7px;
                            }
                        }
                    }
                }
            } 
        }
        
        .navigations{
            ul{
                &.socials {
                    display: none;
                }
                
                &.header-menu-ul{
                    li{
                        a{
                            padding: 15px 7px;
                        }
                    }
                }
            }
        }
    }
    
    .navbar {
        text-align: center;
        padding: 15px;
        
        a {
            line-height: 51px;
            display: inline-block;
            margin-left: 44px;
            padding-left: 15px;
        }
    }
    
    .navbar-toggle {
        float: left;
        margin-right: 0;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .video-wrap{
        .intro-text{
            top: 55%;
            width: 90%;
            
            h1{
                font-size: 45px;
                
                &:before{
                    display: none;
                }
            }
        }
    }
    
    #not-found{
        .nf-container{
            .nf-title{
                font-size: 30px;
            }
            
            .nf-text{
                font-size: 17px;
            }
            
            .nf-advice{
                font-size: 17px;
            }
        }
    }
}


@media only screen and (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
}

@media only screen and (max-width: 700px){
    .nav {
        li{          
            a {
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }
    
    .navbar-offcanvas, .navmenu {
        width: 200px;
    }
    
    #not-found{
        .nf-container{
            .nf-title{
                font-size: 25px;
            }
            
            .nf-text{
                font-size: 12px;
            }
            
            .nf-advice{
                font-size: 12px;
            }
        }
    }
    
    .video-wrap{
        .big-video-border{
            display: none;    
        }
        
        .intro-text{
            top: 50%;
            width: 90%;
            
            h1{
                font-size: 35px;
            }
        }
    }  
}

@media only screen and (max-width: 600px){
    .navbar {
        padding: 10px;
    }
    
    .navbar-toggle {
        top: 10px;
    }
    
    li{
        &.menu-item-has-children{
            ul {
                li {
                    a {
                        font-size: 16px;
                        padding: 10px !important;
                    }
                }
            }
        }
    }
    
    .nav{
        li{
            a {
                font-size: 16px;
                padding: 10px;
            }
        }
    }
}

@media only screen and (max-width: 380px){
    .video-wrap{
        .intro-text{           
            h1{
                font-size: 25px;
            }
            p{
                font-size: 14px;
            }
        }
    }  
}