header{    
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.03);
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;

    &.sticky{
        .logo-container{
            a{
                line-height: 64px;

                img{
                    width: 200px;
                }
            }
        }

        .navigations{
            ul{
                &.header-menu-ul{
                    li{
                        a{
                            padding: 27px 15px;
                        }
                    }
                }
            }
        }

    }

    .logo-container{
        box-sizing: border-box;

        a{
            line-height: 80px;
            display: block;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            box-sizing: border-box;

            img{
                width: 243px;
                transition: all 0.3s;
                box-sizing: border-box;
            }
        }
    }

    .navigations{
        text-align: right;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;

            li{
                display: inline-block;

                a{
                    color: #736668;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    line-height: 1;
                }
            }

            &.header-menu-ul{
                li{
                    a{
                        text-transform: uppercase;
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        padding: 33px 15px;
                        display: block;
                        font-weight: 400;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;

                        &:hover{
                            background-color: #CCB0B0;
                            color: #fff;
                        }
                    }
                }
            }

            &.socials{
                list-style: none;
                display: inline-block;
                margin: 0px;
                width: 100px;
            }
        }
    }
}

li{
    &.menu-item-has-children{
        position: relative;

        ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 200px;
            margin-left: -50%;
            text-align: center;
            background-color: #fff;

            li{
                display: block;

                a{
                    margin-left: 0px !important;
                    padding: 20px !important;
                    border-top: 1px solid #EDEEEF;
                }
            }
        }

        &:hover{
            ul{
                display: block;           
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #736668;
    font-family: "Bodoni Std" !important;
}

p{
    color: #736668;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

#not-found{
    position: absolute;
    width: inherit;
    height: inherit;
    background: radial-gradient(#fff 0%, #f8f8f8 100%);

    .nf-container{                
        position: absolute;
        width: inherit;
        height: 40%;
        top: 30%;
        text-align: center;

        .nf-title{
            font-size: 40px;
            font-weight: 600;
        }

        .nf-text{
            font-size: 25px;
        }

        .nf-advice{
            font-size: 20px;
        }
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    z-index: 999999999999;

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        p {
            text-transform: lowercase;
            margin-top: 15px;
            font-family: 'latin_modern_roman10_italic';
        }
    }
}

.container{
    &.medium {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 579px;

        &:before{
            display: table;
            content: "";
        }

        .our-service{
            position: relative;
            text-align: center;
            top: -180px;
            padding: 0 10px;

            > div{
                background-color: #fff;
                padding: 30px;
                padding-top: 25px;
                position: relative;

                .border-one{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    left: 10px;
                    bottom: 10px;
                    margin: auto;
                    border: 1px solid #BFA1A1;
                }

                .border-two{
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    left: 16px;
                    bottom: 16px;
                    margin: auto;
                    border: 1px solid #BFA1A1;
                }

                h1{
                    position: relative;
                    z-index: 2;
                    font-size: 32px;
                    font-style: normal;
                    text-transform: lowercase;
                    margin: 0;
                    padding-bottom: 15px;
                    margin-bottom: 10px;
                    background-image: url("../content/sources/divider.png");
                    background-repeat: no-repeat;
                    background-position: center bottom;

                    a{
                        color: #736668; 

                        &:hover{
                            text-decoration: none;
                        }
                    }
                }

                p{
                    position: relative;
                    z-index: 2;
                    font-size: 16px;
                    font-style: normal;
                    margin: 0;
                }

                > a{
                    position: relative;
                    z-index: 2;
                    border: 1px solid transparent;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;                  
                    background-color: #CCB0B0;
                    color: #fff;

                    &:hover{
                        color: #736668;
                        background-color: transparent;
                        border-color: #736668;
                    }
                }
            }
        }
    }
}

.n-button-small {
    font-size: 12px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #BFA1A1;
    padding: 7px 17px;
    margin-top: 20px;
    display: inline-block !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}