$images: "http://localhost:8888/content/sources";

header{    
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.03);
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    
    &.sticky{
        .logo-container{
            a{
                line-height: 64px;
                
                img{
                    width: 200px;
                }
            }
        }
        
        .navigations{
            ul{
                &.header-menu-ul{
                    li{
                        a{
                            padding: 27px 15px;
                        }
                    }
                }
            }
        }
        
    }
    
    .logo-container{
        box-sizing: border-box;
        
        a{
            line-height: 80px;
            display: block;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            box-sizing: border-box;
            
            img{
                width: 243px;
                transition: all 0.3s;
                box-sizing: border-box;
            }
        }
    }
    
    .navigations{
        text-align: right;
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            
            li{
                display: inline-block;
                
                a{
                    color: #736668;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    line-height: 1;
                }
            }
            
            &.header-menu-ul{
                li{
                    a{
                        text-transform: uppercase;
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        padding: 33px 15px;
                        display: block;
                        font-weight: 400;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        
                        &:hover{
                            background-color: #CCB0B0;
                            color: #fff;
                        }
                    }
                }
            }
            
            &.socials{
                position: relative;
                top: 1px;
                padding-left: 30px;
                
                li{
                    position: relative;
                    top: -2px;
                    
                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                    
                    a {
                        color: #8a8081;
                        
                        &:hover {
                            color: #BFA1A1;
                        }
                    }
                }
            }
        }
    }
}

#not-found{
    position: absolute;
    width: inherit;
    height: inherit;
    background: radial-gradient(#fff 0%, #f8f8f8 100%);
    
    .nf-container{                
        position: absolute;
        width: inherit;
        height: 40%;
        top: 30%;
        text-align: center;
        
        .nf-title{
            font-size: 40px;
            font-weight: 600;
        }
        
        .nf-text{
            font-size: 25px;
        }
        
        .nf-advice{
            font-size: 20px;
        }
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    z-index: 999999999999;
    
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        
        p {
            text-transform: lowercase;
            margin-top: 15px;
            font-family: 'Latin Modern Roman 10 Italic';
        }
    }
}

.container{
    &.medium {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 524px;
    }
}


.our-service{
    position: relative;
    text-align: center;
    top: -180px;
    padding: 0 10px;
    
    > div{
        background-color: #fff;
        padding: 30px;
        padding-top: 25px;
        position: relative;
        
        .border-one{
            position: absolute;
            top: 10px;
            right: 10px;
            left: 10px;
            bottom: 10px;
            margin: auto;
            border: 1px solid #BFA1A1;
        }
        
        .border-two{
            position: absolute;
            top: 16px;
            right: 16px;
            left: 16px;
            bottom: 16px;
            margin: auto;
            border: 1px solid #BFA1A1;
        }
        
        h1{
            position: relative;
            z-index: 2;
            font-size: 32px;
            font-style: normal;
            text-transform: lowercase;
            margin: 0;
            padding-bottom: 15px;
            margin-bottom: 10px;
            background-image: url("http://localhost:8888/content/sources/divider.png");
            background-repeat: no-repeat;
            background-position: center bottom;
            
            a{
                color: #736668; 
                
                &:hover{
                    text-decoration: none;
                }
            }
        }
        
        p{
            position: relative;
            z-index: 2;
            font-size: 16px;
            font-style: normal;
            margin: 0;
        }
        
        > a{
            position: relative;
            z-index: 2;
            border: 1px solid transparent;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;                  
            background-color: #CCB0B0;
            color: #fff;
            
            &:hover{
                color: #736668;
                background-color: transparent;
                border-color: #736668;
            }
        }
    }
}

.n-button-small {
    font-size: 12px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #BFA1A1;
    padding: 7px 17px;
    margin-top: 20px;
    display: inline-block !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#portfolio{
    padding: 0 50px;
}

.section-intro{
    position: relative;
    text-align: center;
    top: -80px;
    
    h4 {
        font-size: 59px;
        margin: 0;
        text-transform: lowercase;
        background-image: url("http://localhost:8888/content/sources/swirl.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
}

.home-portfolio{
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #736668;
    
    .elem{
        padding: 5px;
    }
    
    .holder{
        &.txt {
            position: relative;
            
            > div{
                text-align: center;
                width: 85%;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            
            h5{
                font-family: "Latin Modern Roman 10 Italic";
                font-style: italic;
                margin: 0;
                font-size: 25px;
                text-transform: lowercase;
                padding-bottom: 35px;
                margin-bottom: 16px;
                background-image: url("http://localhost:8888/content/sources/swirl.png");
                background-repeat: no-repeat;
                background-position: center bottom;
            }
            
            p {
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
        
        &.portfolio{
            &:hover{
                .hover-sec{
                    opacity: 1;
                }
                
                ul {
                    li {
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
            
            > div {
                position: relative;
                display: block;
            }
            
            .hover-sec {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                background-color: rgba(110, 89, 95, 0.8);
                opacity: 0;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                
                > div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 60%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
            
            h4 {
                font-family: 'Latin Modern Roman 10 Italic';
                font-style: italic;
                margin: 0;
                font-size: 30px;
                padding-bottom: 35px;
                color: #fff;
                margin-bottom: 15px;
                background-image: url("http://localhost:8888/content/sources/swirl-white.png");
                background-repeat: no-repeat;
                background-position: center bottom;
                
                a {
                    color: #fff;
                }
            }
            
            p {
                font-size: 15px;
                color: #fff;
            }
            
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-top: 20px;
                
                li{
                    display: inline-block;
                    margin: 0 5px;
                    position: relative;
                    bottom: -20px;
                    opacity: 0;
                    
                    &:nth-child(1) {
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                    
                    &:nth-child(2) {
                        -moz-transition: all 0.3s 0.1s;
                        -o-transition: all 0.3s 0.1s;
                        -webkit-transition: all 0.3s;
                        -webkit-transition-delay: 0.1s;
                        -webkit-transition: all 0.3s 0.1s;
                        transition: all 0.3s 0.1s;
                    }
                    
                    &:nth-child(3) {
                        -moz-transition: all 0.3s 0.2s;
                        -o-transition: all 0.3s 0.2s;
                        -webkit-transition: all 0.3s;
                        -webkit-transition-delay: 0.2s;
                        -webkit-transition: all 0.3s 0.2s;
                        transition: all 0.3s 0.2s;
                    }
                    
                    a {
                        color: #fff;
                        width: 46px;
                        height: 46px;
                        border: 2px solid white;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 44px;
                        display: block;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        
                        &:hover{
                            background-color: #BFA1A1;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.white-bg{
    width: 100% !important;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 auto;
    background-color: #fff;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.hover-permalink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 0;
}

.new-button-portfolio {
    font-size: 12px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #BFA1A1;
    padding: 7px 17px;
    margin-top: 20px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    
    &:hover {
        border-color: #736668;
        background-color: transparent;
    }
}

.portfolio-button {
    text-align: center;
}

.novak-button-large {
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    letter-spacing: 3px;
    background-color: #BFA1A1;
    padding: 15px 95px;
    font-family: "Lato", sans-serif;
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin: 75px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    
    .border {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        margin: auto;
        border: 1px solid white;
    }
    
    &:hover {
        border-color: #736668;
        color: #736668;
        background-color: transparent;
    }
}

#testimonials {
    padding: 40px 0px;
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
    
    .overlay {
        background-color: rgba(110, 89, 95, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .carousel {
        position: relative;
        
        .border-section {
            position: absolute;
            top: 50px;
            bottom: 100px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border: 1px solid white;
            border-top: 0;
            
            .swirl {
                position: absolute;
                top: -22px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                background-image: url("http://localhost:8888/content/sources/swirl-big.png");
                width: 122px;
                height: 44px;
            }
            
            &:before, &:after {
                content: '';
                position: absolute;
                width: 43%;
                top: 0;
                height: 1px;
                background-color: #fff;
            }
            
            &:before {
                left: 0;
            }
            
            &:after {
                right: 0;
            }
        }
    }
    
    .item {
        padding-bottom: 100px;
        padding-top: 60px;
        
        .testimonial-content {
            position: relative;
            padding: 0 60px;
        }
        
        .client {
            position: absolute;
            left: 50%;
            bottom: -97px;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        
        p {
            margin: 0;
            color: #fff;
            font-size: 20px;
            padding: 70px 0;
            padding-bottom: 85px;
            position: relative;
        }
        
        span {
            display: inline-block;
            width: 98px;
            height: 98px;
            border: 3px solid #fff;
            overflow: hidden;
            border-radius: 50%;
        }
        
        h6 {
            font-family: "latin_modern_roman10_italic";
            font-size: 21px;
            color: #fff;
        }
        
        
    }
    
    h4 {
        font-size: 59px;
        color: #fff;
        margin: 0;
        text-transform: lowercase;
    }
    
    .carousel-control{
        width: 40px;
        bottom: 102px;
        top: auto;
        opacity: 1;
        
        .glyphicon-chevron-left {
            background-image: url("http://localhost:8888/content/sources/go-left.png");
            left: 0;
        }
        
        .glyphicon-chevron-right {
            background-image: url("http://localhost:8888/content/sources/go-right.png");
            right: 0;
        }
        
        &.left {
            left: 50%;
            margin-left: -120px;
            background-image: none;
            text-shadow: none;
        }
        
        &.right {
            right: 50%;
            margin-right: -120px;
            background-image: none;
            text-shadow: none;
        }
        
        .icon-next, .icon-prev, .glyphicon-chevron-left, .glyphicon-chevron-right{          
            width: 40px;
            height: 40px;
            margin-top: -20px;
        }
    }
}

.carousel-inner {  
    > .item {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    > .active {
        left: 0;
    }
    
    > .active, > .next, > .prev{
        display: block;
    }
}

#blog-posts {
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
    
    .posts-wrapper {
        border: 1px solid #736668;
        margin-top: 50px;
    }
    
    .featured-post-section {
        width: 60%;
        float: left;
    }
    
    .latest-posts-section {
        width: 40%;
        float: left;
        
        .post-holder-small{
            width: 50%;
            float: left;
            border-left: 1px solid #736668;
            
            &:not(:nth-last-child(-n+2)) {
                border-bottom: 1px solid #736668;
            }
        }
    }
    
    .post-holder {
        padding: 5px;
        
        &.post-holder-small{
            > div{
                .post-content{
                    h1 {
                        font-size: 18px;
                        background-image: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
        
        &:hover{
            .gradient {
                background-color: rgba(0,0,0,0.5);
            }
        }
        
        .gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(100%, rgba(0, 0, 0, 0.30)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.30) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.30) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e000000', endColorstr='#75000000', GradientType=0);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        
        > div {
            display: block;
            position: relative;
            
            .post-content {
                z-index: 5;
                position: absolute;
                bottom: 30px;
                text-align: center;
                width: 80%;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                
                h1 {
                    margin: 0;
                    font-size: 28px;
                    color: #fff;
                    font-family: "Bell MT";
                    line-height: 1.4;
                    background-image: url("http://localhost:8888/content/sources/swirl-white.png");
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    padding-bottom: 25px;
                    
                    a {
                        color: #fff;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                }
                
                p {
                    margin: 0;
                    color: #fff;
                    font-size: 16px;
                    font-family: "Lato", sans-serif;
                    font-weight: 300;
                    margin-top: 10px;
                    margin-bottom: 25px;
                }
                
                > a {
                    display: inline-block;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-family: "Lato", sans-serif;
                    font-weight: bold;
                    padding: 10px 70px;
                    border: 3px solid white;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    
                    &:hover {
                        background-color: #BFA1A1;
                    }
                }
                
                > span {
                    display: inline-block;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 300;
                    font-family: "Lato", sans-serif;
                    position: relative;
                    margin-top: 5px;
                    padding-top: 5px;
                }
            }
        }
    }
}

.permalink-section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

li{
    &.menu-item-has-children{
        position: relative;
        
        ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 200px;
            margin-left: -50%;
            text-align: center;
            background-color: #fff;
            
            li{
                display: block;
                
                a{
                    margin-left: 0px !important;
                    padding: 20px !important;
                    border-top: 1px solid #EDEEEF;
                }
            }
        }
        
        &:hover{
            ul{
                display: block;           
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #736668;
    font-family: "Bodoni Std";
}

p{
    color: #736668;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: #BFA1A1;
    line-height: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    
    &:hover {
        color: #736668;
        text-decoration: none;
    }
}

footer {
    text-align: center;
    padding-top: 35px;
    border-top: 2px solid #736668;
    background-color: #fff;
    
    .footer-logo {
        display: inline-block;
        margin-bottom: 30px;
    }
    
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        
        li {
            display: inline-block;
            margin-bottom: 10px;
        }
        
        &.footer-menu {
            position: relative;
            padding-top: 30px;
            
            li{
                a {
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    color: #7d7173;
                    text-transform: uppercase;
                    margin: 0 20px;
                }
            }
        }
        
        &.footer-socials {
            padding-top: 10px;
            padding-bottom: 15px;
            
            li {
                margin: 10px 15px;
                
                a {
                    height: 42px;
                    width: 42px;
                    background-color: #a5a5a5;
                    text-align: center;
                    line-height: 44px;
                    color: #fff;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 18px;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    
                    &:hover {
                        background-color: #BFA1A1;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    p {
        margin-bottom: 50px;
        font-size: 14px;
    }
}

.classy-footer {
    background-color: #BFA1A1;
    background-image: url("http://localhost:8888/content/sources/swirls.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 38px;
    position: relative;
    
    > a {
        position: absolute;
        width: 40px;
        height: 40px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 1px solid #BFA1A1;
        left: 50%;
        top: -20px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        margin-left: -20px;
        z-index: 10;
        background-color: #ffffff;
        
        i {
            color: #000;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: relative;
            background-image: url("http://localhost:8888/content/sources/footer-arrow.png");
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
            width: 9px;
            height: 16px;
        }
    }
}

.header-page{   
    overflow: hidden;
    position: relative;
    min-height: 405px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('http://localhost:8888/content/sources/header1.jpg');
    
    .header-border {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 20px solid white;
    }
}