<header class='header'>
    <div class='header-container'>
        <div class='logo-container'>
            <a href='./'>
                <img src='./content/sources/logo.png' alt='MediaNovak Logo'>
            </a>
        </div>
        <div class='menu-container'>
            <ul class='menu-ul'>
                <% _.forEach(menus, function(menu){ %>
                <li class='menu-title'> 
                    <%-menu%>
                </li>
                <% }) %>
            </ul>
            <ul class='socials'>
                
            </ul>
        </div>
    </div>
</header>
