<!--header menu-->
<header class='hidden-xs'>
    <div class='header-container'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-2 logo-container'>
            <a href='./' title='MediaNovak Homepage'>
                <img src='./content/sources/logo.png' alt='MediaNovak Logo'>
            </a>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-10 navigations hidden-xs'>
            <ul class='header-menu-ul' id='header-menu'>
                <% _.forEach(menus, function(menu){ %>
                    <% if(_.isObject(menu) && menu.hasOwnProperty("name")) { %>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href=<%= (menu.link ? menu.link : "./" + menu.name.replace(/\s/ig, "-"))%>><%=_.capitalize(menu.name)%></a>
                            <% if(menu.hasOwnProperty("children") && _.isArray(menu.children)){ %>
                                <ul class="sub-menu">
                                    <% _.forEach(menu.children, function(child) { %>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href=<%= "./" + child.replace(/\s/ig, "-") %>><%-_.capitalize(child)%></a>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                    <% } else { %>
                        <li class='menu-item menu-item-type-post_type menu-item-object-page'> 
                            <a href='<%= ("./" + menu.replace(/\s/ig, "-"))%>'><%-menu%></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
            <ul class='socials'>               
            </ul>
        </div>
    </div>
</header>