<div class="loader">
    <div>
        <img src="/content/sources/new-loader.gif"/>
        <p>Loading</p>
    </div>
</div>

<div class="video-wrap">
    <div class="big-video-wrapper">
        <video id="video-background" autoplay loop preload>
            <source src="/content/sources/medianovak.mp4" type="video/mp4">
        </video>
    </div>
    <div class="big-video-border"></div>
    <div class="big-image"></div>
    <div class="intro-text">
        <h1>website design & branding</h1>
        <p>
            Looking for a one-size-fits-all website template? We are NOT
            your guys. But if you are ready for a website design
            expirience, that's totally unique to your business and appeals
            to your target audience, then we are the right agency for you.
        </p>

    </div>
</div>