<!--About section-->
<section id="about">
    <div class="container medium">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
                <div class="row instagram-holder">
                    <div class="insta-container lg-hide-border-bottom md-hide-border-bottom md-hide-border-right">
                        <div>
                            <img src="/content/sources/instagram2.jpg" alt="Instagram Block Bg Image">
                            <div class="insta-hover">
                                <div>
                                    <img src="/content/sources/instagram.png" alt="Instagram Logo">
                                    <a href="http://instagram.com/media_novak" target="_blank">New Photos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row socials-holder">
                    <div class="socials-container lg-hide-border-bottom md-hide-border-bottom md-hide-border-right">
                        <div>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/MediaNovak" target="_blank" title="Follow us on Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/medianovak" target="_blank" title="Folllow us on Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.pinterest.com/medianovak/" target="_blank" title="Follow us on Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row portfolio-holder">
                    <div class="slide-container md-hide-border-right">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                            <a href="/portfolio/" class="portfolio-btn">
                                View Portfolio
                            </a>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                <div class="item">
                                    <img src="/content/sources/portfolios/online-marketing-explained-1-800x895.jpg" alt="">
                                    <div class="gradient"></div>
                                </div>
                                <div class="item">
                                    <img src="/content/sources/portfolios/critical-logo-design-tips-1-800x895.jpg" alt="">
                                    <div class="gradient"></div>
                                </div>
                                <div class="item">
                                    <img src="/content/sources/portfolios/photography-portfolio-secrets-1-800x895.jpg" alt="">
                                    <div class="gradient"></div>
                                </div>
                                <div class="item">
                                    <img src="/content/sources/portfolios/business-card-guidelines-2-800x895.jpg" alt="">
                                    <div class="gradient"></div>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row top-about-section">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="row">
                            <div class="middle-holder about lg-hide-border-left lg-hide-border-right md-hide-border-bottom">
                                <div>
                                    <h1>
                                        <span class="move-left"><%-titleTop%></span><br><span class="move-right"><%-titleBottom%></span>                                        </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="row">
                            <div class="quote-holder md-hide-border-bottom">
                                <div>
                                    <a href="/get-a-quote/" class="permalink-section"></a>
                                    <h2>Get a free quote today!</h2>
                                    <a href="/get-a-quote/">Contact us now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (titleTop != "lets talk"){ %>
                <div class="row bottom-about-section">
                    <div class="about-content lg-hide-border-left lg-hide-border-top">
                        <div class="jpibfi_container">
                            <input class="jpibfi" type="hidden"><p><%-text1%></p>
                            <h3><%-textBig%></h3>
                            <p><%-text2%></p>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="row bottom-about-section">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 info-section lg-hide-border-left lg-hide-border-top md-hide-border-bottom xs-hide-border-bottom">
                        <div>
                            <ul>
                                <li>
                                    <p>email: <a href="mailto:medianovak@gmail.com?subject=Mail from Our Site">medianovak@gmail.com</a></p>
                                    <p>skype:<span>MediaNovak</span></p>
                                </li>

                                <li>
                                    <h5>Join Us On Facebook</h5>
                                    <p><a href="<%-facebook%>" target="_blank"><%-facebook%></a></p>
                                </li>
                                <li>
                                    <h5>Follow Us On Twitter</h5>
                                    <p><a href="<%-twitter%>" target="_blank"><%-twitter%></a></p>
                                </li>
                                <li>
                                    <h5>Like Us On Instagram</h5>
                                    <p><a href="<%-instagram%>" target="_blank"><%-instagram%></a></p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 form-section lg-hide-border-top md-show-border-left xs-show-border-left">
                        <div id="form-holder">
                            <p>Use the quick Contact Form below to e-mail MediaNovak Head Office, or get in touch via Facebook, Twitter or Instagram if that's your thing :)</p>
                            <div role="form" class="contact-form-div" id="contact-form-div" lang="en-US">
                                <div class="screen-reader-response"></div>
                                <form action="/contact/leavemessage" method="post" class="contact-form" novalidate>
                                    <p>
                                        <span class="contact-form-control-wrap name">
                                            <input type="text" name="name" value="" size="40" class="contact-form-control contact-text" id="name" aria-required="true" aria-invalid="false" placeholder="Name*">
                                        </span>
                                        <span class="contact-form-control-wrap email">
                                            <input type="email" name="email" value="" size="40" class="contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email" id="email" aria-required="true" aria-invalid="false" placeholder="Email*">
                                        </span>
                                        <span class="contact-form-control-wrap message">
                                            <textarea name="message" cols="40" rows="10" class="contact-form-control contact-textarea contact-validates-as-required" id="message" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea>
                                        </span>
                                        <input type="submit" value="Send Message" class="contact-form-control contact-submit" id="submit">
                                        <img class="ajax-loader" src="/content/sources/ajax-loader.gif" alt="Sending ...">
                                        <i class="arrow"></i>
                                    </p>
                                    <div class="contact-response-output contact-display-none">

                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</section>
