<div class="page-container col-xs-12 col-sm-12 col-md-9 col-lg-10">
    <div class="row">
        <div class="tables-test contacts-table col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
        <div class="tables-test socials-table col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    </div>
    <div class="row">
        <div class="tables-test testimonials-table col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
        <div class="tables-test blogposts-table col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    </div>
    <div class="row">
        <div class="tables-test services-table col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
        <div class="tables-test offers-table col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    </div>
</div>
</div>
