<div class="page-container col-xs-12 col-sm-12 col-md-9 col-lg-10">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 page-intro">
            <h4 class="text-center"><%-tableName%></h4>
            <p class="text-center">
                <%-tableDescription%>
            </p>    
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <div class="row">
        <div class="data-table col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <% _.forEach(Object.keys(table[0]), function(key){ %>
                        <% if (key !== "_id"){ %>
                        <th class="text-center"><%=key.charAt(0).toUpperCase() + key.slice(1)%></th>
                        <% } %>
                        <% })%>
                        <th class="text-center"> </th>
                    </tr>
                </thead>
                <tbody>
                    <% _.forEach(table, function(row){ %>
                    <tr id='<%-row._id%>'>
                        <% var dates = ['added', 'changed', 'checked', 'registered', 'requestDate', 'editDate', 'postDate']; %>
                        <% var options = {year: 'numeric', month: '2-digit', day: '2-digit', timezone: 'UTC', hour12: false, hour: 'numeric', minute: 'numeric',  second: 'numeric'}; %>
                        <% _.forEach(row, function(col, key){ %>
                        <% if (key !== '_id') { %>
                        <% if (typeof col !== 'Object'){ %>
                        <% if (_.indexOf(dates, key) !== -1) { %>
                        <td id='<%-key%>' class="text-center"><%= new Date(col).toLocaleString('en', options)%></td>
                        <% } else { %>
                        <td id='<%-key%>' class="text-center"><%-col%></td>
                        <% } %>                                    
                        <% } else if (typeof col === 'Object' && col !== null){ %>
                        <td id='<%-key%>' class="text-center"><%=JSON.stringify(col)%></td>
                        <% } else { %>
                        <td id='<%-key%>' class="text-center"></td>
                        <% } %>
                        <% } %>
                        <% }) %>
                        <td id='edit'><a title="Edit" class='glyphicon glyphicon-cog'></a></td>
                    </tr>
                    <% }) %>                 
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="pagination offset-xs-8 offset-sm-9 offset-md-9 offset-lg-9 col-xs-3 col-sm-2 col-md-2 col-lg-2">
            <ul class="pagination">                
                <% var pages = 1; %>
                <% if (pageCount > 1) {%>
                    <li <%=(currentPage == 1 ? 'class="disabled"' : "")%>>
                        <a href="<%=(location.pathname)%>" title="<%=(currentPage-1 > 0 ? currentPage-1 : 0)%>">
                            &laquo;
                        </a>
                    </li>
                    
                    <% if (pageCount < 6) { %>                        
                        <% while (pages <= pageCount) { %>
                            <% if (pages !== currentPage) { %>
                                <li><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                            <% } else { %>
                                <li class="active"><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                            <% } %>
                            <% pages++; %>
                        <% } %>
                    <% } else { %>
                        <% if (pages !== currentPage) { %>
                                <li><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                        <% } else { %>
                                <li class="active"><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                        <% } %>
                        <% pages++; %>
                            
                        <% while (pages <= pageCount) { %>
                            <% if (pages == pageCount){ %>
                                <% if (pages !== currentPage) { %>
                                    <li><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                                <% } else { %>
                                    <li class="active"><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                                <% } %>
                            <% } else if (pages == (currentPage - 1)){ %>
                                <li><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                            <% } else if (pages == (currentPage + 1)){ %>
                                <li><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                            <% } else if (pages == (currentPage - 2) || pages == (currentPage + 2)){ %>
                                <li class="disabled">...</li>
                            <% } else if (pages == currentPage){ %>
                                <li class="active"><a href="<%=(location.pathname)%>" title="<%-pages%>"><%-pages%></a></li>
                            <% } %>
                            <% pages++; %>
                        <% } %>
                    <% } %>
                    
                    <li <%=(currentPage+1 > pageCount) ? 'class="disabled"' : "")%>>
                        <a href="#" title="<%=(currentPage+1 > pageCount) ? '' : currentPage + 1)%>">
                            &raquo;
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
</div>