<div class="page-container col-xs-12 col-sm-12 col-md-9 col-lg-10">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 page-intro">
            <h4 class="text-center"><%-tableName%></h4>
            <p class="text-center">
                <%-tableDescription%>
            </p>    
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <% if (add) {%>
    <div class="row">
        <div class="add-button-holder col-xs-2 col-sm-2 col-md-2 col-lg-2">           
            <button type="button" class="btn btn-sm btn-success"><a href="/adminpage/edit?tablename=<%-tableName%>" title="Add new string">add<i class="glyphicon glyphicon-plus"></i></a></button>
        </div>
    </div>
    <% } %>
    <div class="row">
        <div class="data-table db-<%-tableName%>-table col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <% var notShowable = ["_id", "password", "images", "examples", "image", "imageSmall", "socials"];%>
                        <% var checks = ['accepted', 'processed', 'webDesign' ,'webHosting', 'blogDesign', 'logoDesign', 'completeBranding', 'businessCardDesign', 'domainName', 'stationaryDesign', 'eCommerceStore'];%>
                        <% var notNeed = ['webDesign' ,'webHosting', 'blogDesign', 'logoDesign', 'completeBranding', 'businessCardDesign', 'domainName', 'stationaryDesign', 'eCommerceStore'];%>
                        <% var options = {year: 'numeric', month: '2-digit', day: '2-digit', timezone: 'UTC', hour12: false, hour: 'numeric', minute: 'numeric',  second: 'numeric'}; %>
                        <% _.forEach(Object.keys(table[0]), function(key){ %>                       
                        <% if (_.indexOf(notShowable, key) === -1){ %>
                        <th class="text-center <%-key%>"><%=key.charAt(0).toUpperCase() + key.slice(1)%></th>
                        <% } %>
                        <% })%>
                        <th class="text-center"> </th>
                    </tr>
                </thead>
                <tbody>
                    <% _.forEach(table, function(row){ %>
                    <tr id='<%-row._id%>'>
                        <% _.forEach(row, function(col, key){ %>
                        <% if (_.indexOf(notShowable, key) === -1){ %>
                        <% if (typeof col !== 'object'){ %>
                            <% if (_.indexOf(checks, key) !== -1) { %>
                            <td class="text-center <%-key%>">
                                <% if (col){ %>
                                <i class='glyphicon glyphicon-ok'></i>
                                <% } else if (!col && _.indexOf(notNeed, key) !== -1){ %>
                                <i class='glyphicon glyphicon-remove'></i>
                                <% } else { %> 
                                <i class='glyphicon glyphicon-time'></i> 
                                <%}%> 
                            </td>
                            <% } else { %>
                            <td class="text-center <%-key%>"><p><%-col%></p></td>
                            <% } %>                                    
                        <% } else if (typeof col === 'object' && col !== null){ %>
                        <% if (col instanceof Date) { %>                             
                        <td class="text-center <%-key%>"><%= new Date(col).toLocaleString('en', options)%></td>
                        <% } else { %>
                        <td class="text-center <%-key%>"><%=JSON.stringify(col)%></td>
                        <% } %>
                        <% } else { %>
                        <td class="text-center <%-key%>"></td>
                        <% } %>
                        <% } %>
                        <% }) %>
                        <td class='edit'>
                            <div>
                            <a title="Edit" href="/adminpage/edit?tablename=<%-tableName%>&doc=<%-row._id%>">
                                <i class="glyphicon glyphicon-cog"></i>
                            </a>
                            <% if (del) { %>
                            <ul>
                                <li><a title="Edit" href="/adminpage/edit?tablename=<%-tableName%>&doc=<%-row._id%>">Edit</a></li>
                                <li><a title="Delete" href="/adminpage/delete?tablename=<%-tableName%>&doc=<%-row._id%>">Delete</a></li>
                            </ul>
                            <% } %>
                            </div>
                        </td>
                    </tr>
                    <% }) %>                 
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="pagination-row col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="pagination">                
                <% var pages = 1; %>
                <% if (pageCount > 1) {%>
                <li <% if (currentPage == 1) { %> class="disabled" <%}%>>
                    <a href="<% if (currentPage == 1) { %><% } else { %><%=(pathname + '?lim=' + limit + '&skip=' + (skip-limit))%><%}%>" title="<% if (currentPage-1 > 0) { %> <%-currentPage-1%> <% }%>">&laquo;</a>
                </li>

                <% if (pageCount < 6) { %>                        
                <% while (pages <= pageCount) { %>
                <% if (pages !== currentPage) { %>
                <li><a href="<%=(pathname + '?lim=' + limit + '&skip=' + (limit*(pages-1)))%>" title="<%-pages%>"><%-pages%></a></li>
                <% } else { %>
                <li class="active"><a href="" title="<%-pages%>"><%-pages%></a></li>
                <% } %>
                <% pages++; %>
                <% } %>
                <% } else { %>
                <% if (pages !== currentPage) { %>
                <li><a href="<%=(pathname + '?lim=' + limit + '&skip=' + (limit*(pages-1)))%>" title="<%-pages%>"><%-pages%></a></li>
                <% } else { %>
                <li class="active"><a href="" title="<%-pages%>"><%-pages%></a></li>
                <% } %>
                <% pages++; %>

                <% while (pages <= pageCount) { %>
                <% if (pages == pageCount){ %>
                <% if (pages !== currentPage) { %>
                <li><a href="<%=(pathname + '?lim=' + limit + '&skip=' + (limit*(pages-1)))%>" title="<%-pages%>"><%-pages%></a></li>
                <% } else { %>
                <li class="active"><a href="" title="<%-pages%>"><%-pages%></a></li>
                <% } %>
                <% } else if (pages == (currentPage - 1) || pages == (currentPage + 1)){ %>
                <li><a href="<%=(pathname + '?lim=' + limit + '&skip=' + (limit*(pages-1)))%>" title="<%-pages%>"><%-pages%></a></li>
                <% } else if (pages == (currentPage - 2) || pages == (currentPage + 2)){ %>
                <li class="disabled"><a href="" title="...">...</a></li>
                <% } else if (pages == currentPage){ %>
                <li class="active"><a href="" title="<%-pages%>"><%-pages%></a></li>
                <% } %>
                <% pages++; %>
                <% } %>
                <% } %>

                <li <%if (currentPage+1 > pageCount) {%> class="disabled" <%}%>>
                    <a href="<% if (currentPage == pageCount) { %><% } else { %><%=(pathname + '?lim=' + limit + '&skip=' + (skip+limit))%><%}%>" title="<% if(currentPage == pageCount){%> '' <% } else { %><%= currentPage + 1%> <%}%>">
                        &raquo;
                    </a>
                </li>

                <% } %>
            </ul>
        </div>
    </div>
</div>
</div>