<div class="page-container col-xs-12 col-sm-12 col-md-9 col-lg-10">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 page-intro">
            <h4 class="text-center"><%-tablename%></h4>  
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <div class="row">
        <div class="data-table col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <div class='editing-block'>

                <form id='editing' role="form" method='post' enctype="multipart/form-data" action='/adminpage/editdata'>
                    <input type="hidden" id="tablename" name="tablename" value="<%-tablename%>">
                    <% _.forEach(fields, function(item, key){ %>
                    <div class="form-group <% if (item.check && !fields._id.value) { %>error<% } %>" id="<%-key%>-form-group">
                        <% if (_.isArray(item)) { %>
                        <% var number = 0;%>
                        <label><%-key%></label>
                        <% _.forEach(item, function(link){ %>
                        <% number++; %>
                        <div class="form-group <%-key%>-form-groups" id="<%-key%>-form-group-<%-number%>">
                            <label for="<%-key%>-field-<%-number%>"><% if (key=="examples") { %>Image <% } else { %><%-key%><% } %> <%=number%>:</label>
                            <% if (key === "examples"){ %>
                            <img src="<%-link%>" alt="<%-link%>" class="img-thumbnail" width="150" height="180">
                            <input type="file" id="<%-key%>-field-<%-number%>" title="Select file to add" name='<%-key + "new"%>' accept="image/*,image/jpeg,image/png">
                            <button class="btn btn-danger" id="<%-key%>-delete-<%-number%>" onclick="
                                    $('#<%-key%>-<%-number%>').prop('name', '');
                                    $('#<%-key%>-field-<%-number%>').prop('name', '');
                                    $($('#<%-key%>-field-<%-number%>').parent()).addClass('disabled');
                                    $('#<%-key%>-delete-<%-number%>').prop('disabled', 'true');
                                    ">Delete</button>
                            <input type="hidden" id="<%-key%>-<%-number%>" name='<%-key%>' class="form-control" value="<%-link%>">
                           <% } else if (key === "socials"){ %>
                           <input type="url" id="<%-key%>-field-<%-number%>" name="socials" class="form-control" value="<%-link%>" required>
                           <button class="btn btn-danger" id="<%-key%>-delete-<%-number%>" onclick="
                                    $('#<%-key%>-field-<%-number%>').prop('name', '');
                                    $('#<%-key%>-field-<%-number%>').prop('disabled', 'true');
                                    $('#<%-key%>-field-<%-number%>').prop('required', 'false');
                                    $('#<%-key%>-delete-<%-number%>').prop('disabled', 'true');
                                    ">Delete</button>
                           <% } %>
                        </div>
                        <% }) %>
                        <button class="btn btn-success" id="add-<%-key%>" onclick="return false;">Add more</button>
                        <% } else { %>
                            <% if (item.type !== "hidden"){%>
                            <label for="<%-key%>Field"><%-key%></label>
                            <% } %>
                            <% if (item.type !== "select" && item.type !== "textarea" && item.type !== "file"){ %>
                                <input type="<%-item.type%>" id="<%-key%>-field" class="form-control" <% if (!item.value) {%> placeholder="Enter <%-key%>" <% } else { %> value="<%-item.value%>"<% } %> name='<%-key%>' <% if (item.pattern){%> pattern=<%-item.pattern%><% }%><% if (item.maxlength){%> maxlength=<%-item.maxlength%><% }%> <% if (item.required){%> required<%}%> <% if (item.disabled){%> disabled<%}%>>
                            <% } %>
                            <% if (item.type === "select"){ %>
                                <select id="<%-key%>-field" class="form-control" name='<%-key%>' <% if (item.required){%> required<%}%>>
                                <% _.forEach(item.selects, function(select){ %>
                                   <option value="<%-select._id%>" <% if (String(item.selected) == String(select._id)){%> selected<% } %> ><%-select.name%></option>
                                <% }) %>
                                </select>
                            <% } %>
                            <% if (item.type === "textarea"){ %>
                                <textarea id="<%-key%>-field" class="form-control" <% if (item.rows) {%> rows=<%-item.rows%> <% } %> name='<%-key%>'<% if (item.maxlength){%> maxlength=<%-item.maxlength%><% } %> <% if (item.required){%> required<%  }%> <% if (item.disabled){ %> disabled<% } %>><% if (item.value){%><%-item.value%><%}%></textarea>
                            <% } %>
                            <% if (item.type === "file"){ %>
                                <img src="<%-item.value%>" alt="<%-item.value%>" class="img-thumbnail" width="150" height="180">
                                <input type="file" id="<%-key%>-field" title="Select file to add" name='<%-key + "new"%>' accept="image/*,image/jpeg,image/png" <% if (item.required){ %>required<%}%>>
                                <input type="hidden" id="<%-key%>" name='<%-key%>' class="form-control" value="<%-item.value%>">
                            <% } %>
                            <% if (item.help) {%>
                            <p class="help-block"><%-item.help%></p>
                            <% } %>
                            <% if (item.check) {%>
                            <input type="button" id="<%-key%>-check-button" data-check="<%-key%>" value="Check">
                            <% } %>
                        <% } %>
                    </div>
                    <% }) %>
                    <button type="submit" id="submit-button" class="btn btn-default btn-md" disabled>Save</button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>