<div class='authorization-block'>
    <div class='authorization-block-border'>
        <form id='authorization' role="form" method='post' action='/checklogin'>
            <div class="form-group">
                <label for="loginField">Login</label>
                <input type="text" id="loginField" class="form-control" placeholder="Enter login" name='login'>
            </div>
            <div class="form-group">
                <label for="passwordnField">Password</label>
                <input type="text" id="passwordField" class="form-control" placeholder="Enter password" name='password'>
            </div>
            <button type="submit" class="btn btn-default btn-md ">Send</button>
        </form>
    </div>
</div>
