<section id="blog-posts" class="clearfix">
    <div class="clearfix">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 section-intro">
            <h4>latest blog posts</h4>
            <p>Whether it's about web design, branding or social media in general, – we've got some things we'd like to say. Here you might find wisdom from the people whose brains we envy or shameless plugs for the ideas that get us fired up.</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
    </div>
    <div class="posts-wrapper clearfix">
        <div class="featured-post-section">
            <div class="post-holder">
                <div>
                    <img width="1200" height="823" src="./content/sources/blogposts/<%- blogs[0].image %>-1-1200x823.jpg" class="attachment-featured size-featured wp-post-image" alt="<%= (blogs[0].aText.length >= 64) ? blogs[0].aText.substr(0,64) + ' ...' : blogs[0].aText %>" >
                    <div class="gradient"></div>
                    <a href="<%- blogs[0].link %>" class="permalink-section"></a>
                    <div class="post-content">
                        <h1>
                            <a href="<%- blogs[0].link %>">
                                <%- blogs[0].aText %>                              
                            </a>
                        </h1>
                        <p><%- blogs[0].fullText%></p>
                        <a href="<%- blogs[0].link %>">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="latest-posts-section">
        <% _.forEach(blogs, function(blog){ %>
        <% if (blog !== blogs[0]){ %>
            <div class="post-holder-small post-holder">
                <div>
                    <img width="600" height="407" src="./content/sources/blogposts/<%- blog.image %>-1-600x407.jpg" class="attachment-latest size-latest wp-post-image" alt="<%= (blog.aText.length >= 64) ? blog.aText.substr(0,64) + ' ...' : blog.aText %>" >
                    <div class="gradient"></div>
                    <a href="<%- blog.link %>" class="permalink-section"></a>
                    <div class="post-content">
                        <h1>
                            <a href="<%- blog.link %>">
                                <%- blog.aText%>
                            </a>
                        </h1>
                        <span>Bussines Ideas</span>
                    </div>
                </div>
            </div>
        <% } %>
        <% }) %>

        </div>


    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 portfolio-button">
            <a href="/blog" class="novak-button-large">
                <div class="border"></div>
                View More
            </a>
        </div>
    </div>
</section>