<!DOCTYPE html>
<html>
    <head>
        <title>MediaNovak - Photography Websites & Logo Design</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/content/sources/favicon.ico" type="image/x-icon">

        <!--Fonts-->
        <link id="lato-css" href="https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C+700italic&amp;ver=4.5.3" rel="stylesheet" type="text/css" media="all">
        <link href="http://db.onlinewebfonts.com/c/bc6cd2c3303e7770ccbe363e06cf9aea?family=Bodoni+Std" rel="stylesheet" type="text/css">
        <link href="http://db.onlinewebfonts.com/c/f1efbaeb77d265c4e64cd718a0ea2558?family=Bell+MT" rel="stylesheet" type="text/css"/>

        <!--Current css-->
        <link href="/css/navs.css" type="text/css" rel="stylesheet">
        <link href="/css/navbar.css" type="text/css" rel="stylesheet">
        <link href="/css/videowrap.css" type="text/css" rel="stylesheet">

        <!--Third party css-->
        <link href="/thirdParty/normalize.css" type="text/css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
        <link href="/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

        <!--Fixes-->
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
        <link href="/css/main.css" type="text/css" rel="stylesheet">

        <!--Responsive css-->
        <link href="/css/responsive.css" type="text/css" rel="stylesheet">

        <script type="text/javascript" src="/thirdParty/lodash.js"></script>
        <script type="text/javascript" src="/thirdParty/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/thirdParty/parallax.min.js"></script>
        <script type='text/javascript' src="/bootstrap/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    </head>
    <body>