<!--Quote section-->
<section id="quote">
    <div class="container medium">
        <div class="quote-wrapper">
            <div>
                <div role="form" class="contact-form-div" id="contact-form-div" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="#" method="post" class="contact-form ac-custom ac-checkbox ac-checkmark" novalidate autocomplete="off">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-quote">
                                <h1>GET A FREE QUOTE FOR YOUR WEBSITE DESIGN, LOGO OR BRANDING NEEDS!</h1>
                                <p>Looking to establish your brand for long-term growth and sustainability? Need help with your logo and business cards? Is your website a source of disconnect and frustration? Curious about where to find interesting singles in your area? We promise to help with at least three of the four.</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-quote">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4>Personal Details</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <p>
                                            <label for="name">Full Name:*</label>
                                            <span class="contact-form-control-wrap name">
                                                <input type="text" name="name" value="" size="40" class="contact-form-control contact-text contact-validates-as-required" id="name" aria-required="true" aria-invalid="false">
                                            </span>
                                        </p>
                                        <p>
                                            <label for="email">Email Address:*</label>
                                            <span class="contact-form-control-wrap email">
                                                <input type="email" name="email" value="" size="40" class="contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email" id="email" data-regexp="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" aria-required="true" aria-invalid="false">
                                            </span>
                                        </p>
                                        <p>
                                            <label for="website">Website:</label>
                                            <span class="contact-form-control-wrap website">
                                                <input type="url" name="website" value="" size="40" class="contact-form-control contact-text" data-regexp="^(?:([a-z]+):(?:([a-z]*):)?\/\/)?(?:([^:@]*)(?::([^:@]*))?@)?((?:[a-z0-9_-]+\.)+[a-z]{2,}|localhost|(?:(?:[01]?\d\d?|2[0-4]\d|25[0-5])\.){3}(?:(?:[01]?\d\d?|2[0-4]\d|25[0-5])))(?::(\d+))?(?:([^:\?\#]+))?(?:\?([^\#]+))?(?:\#([^\s]+))?$" id="website" aria-invalid="false">
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <p>
                                            <label for="company-name">Company Name:</label>
                                            <span class="contact-form-control-wrap company-name">
                                                <input type="text" name="company-name" value="" size="40" class="contact-form-control contact-text" id="company-name" aria-invalid="false">
                                            </span>
                                        </p>
                                        <p>
                                            <label for="phone">Phone:</label>
                                            <span class="contact-form-control-wrap phone">
                                                <input type="tel" name="phone" value="" size="40" class="contact-form-control contact-text" id="phone" data-regexp="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" aria-invalid="false">
                                            </span>
                                        </p>
                                        <p>
                                            <label for="country">Country:</label>
                                            <span class="contact-form-control-wrap country">
                                                <input type="text" name="country" value="" size="40" class="contact-form-control contact-text" id="country" aria-invalid="false">
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-quote">
                                <h4>Project Details</h4>
                                <p>Please select the type of services needed:</p>
                                <div class="row check-services">
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
                                        <span class="contact-form-control-wrap services">
                                            <span class="contact-form-control contact-checkbox select-services">
                                                <span class="contact-list-item first">
                                                    <input type="checkbox" name="services[]" value="Web Design" id="webDesign">&nbsp;<span class="contact-list-item-label">Web Design</span>
                                                </span>
                                                <span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Blog Design" id="blogDesign">&nbsp;<span class="contact-list-item-label">Blog Design</span>
                                                </span>
                                                <span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Domain Name" id="domainName">&nbsp;<span class="contact-list-item-label">Domain Name</span>
                                                </span>
                                                <span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Web Hosting" id="webHosting">&nbsp;<span class="contact-list-item-label">Web Hosting</span>
                                                </span>
                                                <span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Logo Design" id="logoDesign">&nbsp;<span class="contact-list-item-label">Logo Design</span>
                                                </span>
                                                <span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Stationery Design" id="stationaryDesign">&nbsp;<span class="contact-list-item-label">Stationery Design</span>
                                                </span>
                                                <span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Complete Branding" id="completeBranding">&nbsp;<span class="contact-list-item-label">Complete Branding</span>
                                                </span><span class="contact-list-item">
                                                    <input type="checkbox" name="services[]" value="Business Card Design" id="businessCardDesign">&nbsp;<span class="contact-list-item-label">Business Card Design</span>
                                                </span>
                                                <span class="contact-list-item last">
                                                    <input type="checkbox" name="services[]" value="E-Commerce Store" id="eCommerceStore">&nbsp;<span class="contact-list-item-label">E-Commerce Store</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-quote">
                                <p>Please describe your project as completely as possible:</p>
                                <p>
                                    <span class="contact-form-control-wrap project-description">
                                        <textarea name="project-description" cols="40" rows="10" maxlength=1500 class="contact-form-control contact-textarea" id="project-description" aria-invalid="false"></textarea>
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 section-quote fixed-margin">
                                <p>What is your budget for the project?</p>
                                <p>
                                    <span class="contact-form-control-wrap budget">
                                        <input type="text" name="budget" value="" size="40" class="contact-form-control contact-text" id="budget" aria-invalid="false">
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 section-quote fixed-margin">
                                <p>How did you hear about us?</p>
                                <p>
                                    <span class="contact-form-control-wrap contact-method">
                                        <select name="contact-method" class="contact-form-control contact-select" aria-invalid="false">
                                            <option value="">---</option><option value="Search Engine">Search Engine</option>
                                            <option value="Referred by Associate">Referred by Associate</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Instagram">Instagram</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Google+">Google+</option>
                                            <option value="Pinterest">Pinterest</option>
                                            <option value="Newsletter">Newsletter</option>
                                            <option value="Link from another site">Link from another site</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-quote">
                                <div class="button-quote">
                                    <div class="border"></div>
                                    <p>
                                        <input type="submit" value="Send Message" class="contact-form-control contact-submit" id="submit">
                                        <img class="ajax-loader" src="/content/sources/ajax-loader.gif" alt="Sending ...">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-response-output contact-display-none">
                            
                        </div>
                    </form>
                        
                </div>            
            </div>
        </div>
    </div>
</section>