<!--Testimonials-->
<section id="testimonials" class="hidden-xs parallax-window" data-parallax="scroll" data-image-src="/content/sources/testimonials1.jpg" data-speed="0.1">
    <div class="overlay"></div>
    <div id="testimonials-container" class="container">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <h4>Testimonials</h4>
            <!-- Testimonials -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="border-section">
                    <div class="swirl"></div>
                </div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <% _.forEach(testimonials, function(item){%>
                    <!-- Slide -->
                    <div class="item">
                        <div class="testimonial-content jpibfi_container">
                            <input class="jpibfi" type="hidden">
                            <p><%- item.testimonial %></p>
                            <div class="client">
                                <span>
                                    <img width="120" height="120" src=<%- item.image %> class="attachment-testimonial size-testimonial wp-post-image" alt=<%- item.alt%> sizes="(max-width: 120px) 100vw, 120px">
                                </span>
                                <h6> <%- item.name %> </h6>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
</section>